<h1><%= @classification.name %></h1>

<ul>
  <% @classification.all_animals.each do |animal| %>
    <li><%= link_to(animal.name, animal_path(animal)) %> (<%= animal.extinction_date %>)
        <%= image_tag(animal.image_url) if !animal.image_url.empty? %>
        <%= '(Recent)' if animal.recent? %>
    </li>
  <% end %>
</ul>